#layout_layout-12_1487216521408{background-image:url(../img/ba7e1f588a264b27b5624501f9e84245.jpg)}
#layout_layout-12_1487216521408{padding-top:0px}
#layout_layout-12_1487216521408{padding-bottom:0px}
#layout_layout-12_1487216521408{background-position:50% 50%}
#workspace-body {width:100%!important;}
#layout_layout-12_1487216521408{margin-top:0px}
#layout_layout-12_1487216521408{margin-left:auto}
#layout_layout-12_1487216521408{margin-right:auto}
#layout_layout-12_1487216624591{padding-top:0px}
#layout_layout-12_1487216624591{padding-bottom:0px}
#layout_layout-12_1487216624591{margin-top:0px}
#layout_layout-12_1487216624591{margin-left:0px}
#layout_layout-12_1487216624591{background-image:url(../img/b7543287e3cf4ed9ae0c3a11a92b4009.jpg)}
#layout_layout-12_1487216624591{background-repeat:repeat}
#component_3410f01a9e5b4v2188d36c70eb8d60f5_1487216729009{width:1100px}
#component_3410f01a9e5b4v2188d36c70eb8d60f5_1487216729009{height:430px}
#component_3410f01a9e5b4v2188d36c70eb8d60f5_1487216729009 .picturegroup .left-access{display:inline-block}
#component_3410f01a9e5b4v2188d36c70eb8d60f5_1487216729009 .picturegroup .right-access{display:inline-block}
#component_3410f01a9e5b4v2188d36c70eb8d60f5_1487216729009{margin-left:auto}
#component_3410f01a9e5b4v2188d36c70eb8d60f5_1487216729009{margin-right:auto}
#component_3410f01a9e5b4v2188d36c70eb8d60f5_1487216729009{margin-top:30px}
#layout_layout-6-6_1487216884414{width:1100px}
#layout_layout-6-6_1487216884414{padding-top:0px}
#layout_layout-6-6_1487216884414{padding-bottom:0px}
#layout_layout-6-6_1487216884414{margin-left:auto}
#layout_layout-6-6_1487216884414{margin-right:auto}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487216906154{width:553px}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487216906154 .manuscriptlist .manuscript .title-main .title {text-align:center}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487216906154 .manuscriptlist .manuscript .content-holder .content {text-align:center}
#layout_layout-6-6_1487216884414{margin-top:20px}
#layout_layout-12_1487222804986{padding-top:0px}
#layout_layout-12_1487222804986{padding-bottom:0px}
#layout_layout-12_1487222804986{background-image:url(../img/3b7736ca89154a3e8d90e1c8d957f815.jpg)}
#layout_layout-12_1487222804986{width:400px}
#layout_layout-12_1487222804986{margin-top:0px}
#layout_layout-12_1487222804986{margin-left:auto}
#layout_layout-12_1487222804986{margin-right:0}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487216906154 .manuscriptlist .manuscript .content-holder .content {margin-left:0px}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487216906154{margin-top:0px}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487216906154{margin-left:auto}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487216906154{margin-right:auto}
#layout_layout-12_1487222998724{width:400px}
#layout_layout-12_1487222998724{padding-bottom:0px}
#layout_layout-12_1487222998724{padding-top:20px}
#layout_layout-12_1487222998724{margin-right:0}
#layout_layout-12_1487222998724{margin-top:0px}
#layout_layout-12_1487222998724{margin-left:40.9844px}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 img{display:block;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 .picture-holder {width:358px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 .bottom_font{background-color:rgba(16, 16, 15, 0.701961);}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 h2.moren:hover{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 h2.moren a:hover{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 h2.moren{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 h2.moren a{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 .bottom_font{display:none;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659:hover .bottom_font{display:none;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 .bottom_font span.moren{display:inline-block;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 .bottom_font h2{display:block;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 h2.moren{margin-top:10px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 h2.moren{margin-bottom:10px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 h2.moren{margin-right:0px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 h2.moren{margin-left:0px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 a.xx{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 .bottom_font span.moren{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 span.moren a.xx{color:red;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 span.moren a.xx:hover{color:red;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 h2.moren{text-align: center!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 span.moren{margin-top:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 span.moren{margin-bottom:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 span.moren{margin-left:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659 a.xx{margin-right:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659{width:358px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659{height:235px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659{margin-left:auto;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487223102659{margin-right:auto;}
#layout_layout-12_1487222998724{background-color:#e8e8e8}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827{margin-right: auto}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{display:none}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827{width:538px}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-right :0px none !important;}
#layout_layout-12_1487223809253{padding-top:0px}
#layout_layout-12_1487223809253{padding-bottom:0px}
#layout_layout-12_1487223809253{width:400px}
#layout_layout-12_1487223809253{margin-left:auto}
#layout_layout-12_1487223809253{margin-right:0}
#layout_layout-12_1487223809253{background-image:url(../img/97082cd4a81d4f689835c3a7e3c2418c.jpg)}
#layout_layout-12_1487223893833{padding-bottom:0px}
#layout_layout-12_1487223893833{width:400px}
#layout_layout-12_1487223893833{margin-right:0}
#layout_layout-12_1487223893833{margin-top:0px}
#layout_layout-12_1487223893833{margin-left:40.9844px}
#layout_layout-12_1487223893833{background-color:#e8e8e8}
#component_996365757fb64v21b8b3e54901357034_1487223957576{margin-top:17px!important;}
#layout_layout-12_1487223893833{padding-top:0px}
#layout_layout-12_1487224857502{padding-top:0px}
#layout_layout-12_1487224857502{padding-bottom:0px}
#layout_layout-12_1487224857502{width:1100px}
#layout_layout-12_1487224857502{background-image:url(../img/0d2c673d41644664bf0faee9ce33226f.jpg)}
#layout_layout-6-6_1487224992164{width:1100px}
#layout_layout-6-6_1487224992164{padding-top:0px}
#layout_layout-6-6_1487224992164{padding-bottom:0px}
#layout_layout-6-6_1487224992164{margin-top:20px}
#layout_layout-12_1487225152538{padding-top:0px}
#layout_layout-12_1487225152538{padding-bottom:0px}
#layout_layout-12_1487225152538{margin-top:0px}
#layout_layout-12_1487225152538{margin-left:0px}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487225239530{width:600px}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487225239530 .manuscriptlist .manuscript .title-main .title {margin-top:0px}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487225239530 .manuscriptlist .manuscript .title-main .title {margin-left:10px}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487225239530 .manuscriptlist .manuscript .title-main .subtitle {margin-left:10px}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487225239530 .manuscriptlist .manuscript .content-main {height:200px}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487225239530 .manuscriptlist .manuscript .content-holder .content {margin-left:10px}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487225239530{margin-top:0px}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487225239530{margin-left:29.9844px}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 img{display:block;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404{margin-top:34.5px!important;}
#layout_layout-6-6_1487225830491{padding-top:0px}
#layout_layout-6-6_1487225830491{padding-bottom:0px}
#layout_layout-6-6_1487225830491{margin-left:auto}
#layout_layout-6-6_1487225830491{margin-right:auto}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{display:none}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827{margin-top:0px}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487223183827{margin-left:55.9844px}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list .list-body ul{height:155px}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984{width:352px}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body .tpl-component-2016-01-09-list-li-title{width:100%;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body .time-content{display:none;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487226251302 .manuscriptlist .manuscript .content-main {height:125px}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487226251302{width:290px}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 .list-body li{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-top :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-left :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984 h1{border-right :0px none !important;}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984{margin-top: 0px}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984{margin-left: auto}
#component_abcwbd5c72104v21bg7e4c2396f5a631_1487225902984{margin-right: auto}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487226251302{margin-right:auto}
#layout_layout-6-6_1487224992164{margin-left:auto}
#layout_layout-6-6_1487224992164{margin-right:auto}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487226251302 .manuscriptlist .manuscript .content-holder .content {margin-left:0px}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487226251302{margin-top:0px}
#component_abcwbd5c72104v21bg7e4c2396f5a931_1487226251302{margin-left:19.4844px}
#layout_layout-12_1487224857502{margin-top:20px}
#layout_layout-12_1487224857502{margin-left:auto}
#layout_layout-12_1487224857502{margin-right:auto}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 .picture-holder {width:358px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 .bottom_font{background-color:rgba(16, 16, 15, 0.701961);}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 h2.moren:hover{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 h2.moren a:hover{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 h2.moren{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 h2.moren a{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 .bottom_font{display:none;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404:hover .bottom_font{display:none;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404{margin-right:auto;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 .bottom_font span.moren{display:inline-block;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 .bottom_font h2{display:block;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 h2.moren{margin-top:10px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 h2.moren{margin-bottom:10px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 h2.moren{margin-right:0px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 h2.moren{margin-left:0px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 a.xx{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 .bottom_font span.moren{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 span.moren a.xx{color:red;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 span.moren a.xx:hover{color:red;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 h2.moren{text-align: center!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 span.moren{margin-top:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 span.moren{margin-bottom:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 span.moren{margin-left:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404 a.xx{margin-right:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404{width:358px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404{height:316px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404{margin-top:34.5px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404{margin-left:40.9844px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487225730404{margin-top:17.5px!important;}
#layout_layout-12_1487226790141{padding-top:0px}
#layout_layout-12_1487226790141{padding-bottom:0px}
#layout_layout-12_1487226790141{width:1100px}
#layout_layout-12_1487226790141{margin-top:20px}
#layout_layout-12_1487226790141{margin-left:auto}
#layout_layout-12_1487226790141{margin-right:auto}
#layout_layout-12_1487226790141{background-image:url(../img/fc8a2128853a4961b5f4977e35593b88.jpg)}
#layout_layout-4-4-4_1487226827281{width:1100px}
#layout_layout-4-4-4_1487226827281{padding-top:0px}
#layout_layout-4-4-4_1487226827281{padding-bottom:0px}
#layout_layout-4-4-4_1487226827281{margin-top:20px}
#layout_layout-4-4-4_1487226827281{margin-left:auto}
#layout_layout-4-4-4_1487226827281{margin-right:auto}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 .bottom_font{background-color:rgba(16, 16, 15, 0.701961);}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 h2.moren:hover{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 h2.moren a:hover{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 h2.moren{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 h2.moren a{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 .bottom_font{display:block;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885:hover .bottom_font{display:block;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 .bottom_font span.moren{display:none;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 .bottom_font h2{display:block;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 h2.moren{margin-top:10px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 h2.moren{margin-bottom:10px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 h2.moren{margin-right:0px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 h2.moren{margin-left:0px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 a.xx{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 .bottom_font span.moren{color:#333;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 span.moren a.xx{color:red;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 span.moren a.xx:hover{color:red;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 h2.moren{text-align: center!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 span.moren{margin-top:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 span.moren{margin-bottom:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 span.moren{margin-left:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 a.xx{margin-right:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885{height:180px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 .picture-holder {width:240px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885 {width:240px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885{margin-right:auto;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226876885{margin-left:17.25px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 .picture-holder {width:240px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 .bottom_font{background-color:rgba(16, 16, 15, 0.701961);}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 h2.moren:hover{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 h2.moren a:hover{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 h2.moren{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 h2.moren a{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 .bottom_font{display:block;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875:hover .bottom_font{display:block;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-right:auto;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 .bottom_font span.moren{display:none;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 .bottom_font h2{display:block;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 h2.moren{margin-top:10px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 h2.moren{margin-bottom:10px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 h2.moren{margin-right:0px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 h2.moren{margin-left:0px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 a.xx{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 .bottom_font span.moren{color:#333;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 span.moren a.xx{color:red;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 span.moren a.xx:hover{color:red;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 h2.moren{text-align: center!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 span.moren{margin-top:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 span.moren{margin-bottom:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 span.moren{margin-left:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875 a.xx{margin-right:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{width:240px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{height:180px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-left:17.25px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226949875{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 .picture-holder {width:240px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 .bottom_font{background-color:rgba(16, 16, 15, 0.701961);}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 h2.moren:hover{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 h2.moren a:hover{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 h2.moren{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 h2.moren a{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 .bottom_font{display:block;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425:hover .bottom_font{display:block;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425{margin-right:auto;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 .bottom_font span.moren{display:none;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 .bottom_font h2{display:block;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 h2.moren{margin-top:10px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 h2.moren{margin-bottom:10px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 h2.moren{margin-right:0px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 h2.moren{margin-left:0px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 a.xx{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 .bottom_font span.moren{color:#333;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 span.moren a.xx{color:red;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 span.moren a.xx:hover{color:red;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 h2.moren{text-align: center!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 span.moren{margin-top:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 span.moren{margin-bottom:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 span.moren{margin-left:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425 a.xx{margin-right:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425{width:240px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425{height:180px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487226989425{margin-left:17.25px;}#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 .picture-holder {width:240px !important;}#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 .bottom_font{background-color:rgba(16, 16, 15, 0.701961);}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 h2.moren:hover{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 h2.moren a:hover{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 h2.moren{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 h2.moren a{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 .bottom_font{display:block;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877:hover .bottom_font{display:block;}#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877{margin-right:auto;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 .bottom_font span.moren{display:none;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 .bottom_font h2{display:block;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 h2.moren{margin-top:10px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 h2.moren{margin-bottom:10px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 h2.moren{margin-right:0px!important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 h2.moren{margin-left:0px!important;}#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 a.xx{color:#fff;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 .bottom_font span.moren{color:#333;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 span.moren a.xx{color:red;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 span.moren a.xx:hover{color:red;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 h2.moren{text-align: center!important;}

#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 span.moren{margin-top:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 span.moren{margin-bottom:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 span.moren{margin-left:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877 a.xx{margin-right:0px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877{width:240px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877{height:180px;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877{margin-top:0px !important;}
#component_c57c54a797f24v21865ad0541f7c3e9e_1487227013877{margin-left:17.25px;}#layout_layout-12_1487227378397{padding-top:0px}
#layout_layout-12_1487227378397{padding-bottom:0px}
#layout_layout-12_1487227378397{margin-top:20px}
#layout_layout-12_1487227378397{margin-left:auto}
#layout_layout-12_1487227378397{margin-right:auto}
#layout_layout-12_1487227378397{width:1100px}
#component_996365757fb64v21b8b3e54901357034_1487227409906{margin-top:14px!important;}
#layout_layout-12_1487227897760 .picture-holder {width:undefinedpx !important;}#layout_layout-12_1487227897760 {width:undefinedpx !important;}
#layout_layout-12_1487227897760 .bottom_font{background-color:undefined;}
#layout_layout-12_1487227897760 h2.moren:hover{color:undefined;}
#layout_layout-12_1487227897760 h2.moren a:hover{color:undefined;}
#layout_layout-12_1487227897760 h2.moren{color:undefined;}
#layout_layout-12_1487227897760 h2.moren a{color:undefined;}
#layout_layout-12_1487227897760 img{display:block;}#layout_layout-6-6_1487227918437{padding-top:0px}
#layout_layout-6-6_1487227918437{padding-bottom:0px}
#layout_layout-6-6_1487227918437{width:1100px}
#layout_layout-6-6_1487227918437{margin-left:auto}
#layout_layout-6-6_1487227918437{margin-right:auto}
#layout_layout-6-6_1487227918437{margin-top:20px}
#layout_layout-4-4-4_1487227938675{width:300px}
#layout_layout-4-4-4_1487227938675{margin-left:auto}
#layout_layout-4-4-4_1487227938675{margin-right:0}
#layout_layout-4-4-4_1487227938675{padding-top:0px}
#layout_layout-4-4-4_1487227938675{padding-bottom:0px}

#component_bc79c9bad3184v2194cfc4f1ed259615_1487227955395{width:71px;}
#component_bc79c9bad3184v2194cfc4f1ed259615_1487227970338{width:71px;}
#component_bc79c9bad3184v2194cfc4f1ed259615_1487227982985{width:75px;}
#component_996365757fb64v21b8b3e54901357034_1487227995879{margin-top:18px!important;}